{% extends "Public/base.html" %}

<block name="main">
	<div class="container">
		<h2>About:</h2>
		<blockquote>身边的同学都叫我江sir，哈哈，不知不觉习惯了，所以我的另一个id也叫江sir(jiangsir)</blockquote>
		<div class="row">
			<h2>Achievement</h2>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<ul class="list-group">
					<li class="list-group-item">
						<a href=" https://www.seebug.org/accounts/profile/jiangsir">Seebug-jiangsir</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<hr/>
	<h2>专业技能</h2>

	<div class="container">
<!-- 	<div class="row">
		<div class="col-xs-4">
			<img src="touxiang.jpg">	
		</div>
	</div> -->
	<div class="row">
		<div class="col-xs-4">
			<div class="row">
				<img src="__PUBLIC__/img/touxiang.jpg">	
			</div>
<!-- 			<div class="row">
				<a href="https://user.qzone.qq.com/2461805286"><img src="qq.jpg"></a>
				<a href=""><img src="github.jpg"></a>
			</div> -->
			<div class="row">
				<span class="badge">CTFer</span>
				<span class="badge">a Web dog</span>
				<span class="badge">py爱好者</span><br/>
				<span class="badge">渴望成长的菜鸡</span>
				<span class="badge">成为一个优秀的人</span>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="progress progress-striped active">
				<span class="well">Web安全</span>
				<div class="progress-bar progress-bar-success" role="progress-bar" style="width:50%;">
				</div>
			</div>

			<div class="progress progress-striped active">
				<span class="well">Python</span>
				<div class="progress-bar progress-bar-success" role="progress-bar" style="width:45%;">
				</div>
			</div>
			<div class="progress progress-striped active">
				<span class="well">CTF</span>
				<div class="progress-bar progress-bar-primary" role="progress-bar" style="width:60%;">
				</div>
			</div>
			<div class="progress progress-striped active">
				<span class="well">PHP</span>
				<div class="progress-bar progress-bar-info" role="progress-bar" style="width:40%;">
				</div>
			</div>

			<div class="progress progress-striped active">
				<span class="well">前端</span>
				<div class="progress-bar progress-bar-warning" role="progress-bar" style="width:30%;">
				</div>
			</div>

			<div class="progress progress-striped active">
				<span class="well">Linux</span>
				<div class="progress-bar progress-bar-warning" role="progress-bar" style="width:40%;">
				</div>
			</div>

			<div class="progress progress-striped active">
				<div class="progress-bar progress-bar-success" role="progress-bar" style="width:30%;">
				Docker
				</div>
				<div class="progress-bar progress-bar" role="progress-bar" style="width:20%;">逆向</div>
				<div class="progress-bar progress-bar-warning" role="progress-bar" style="width:20%;">数据库</div>
				<div class="progress-bar progress-bar-primary" role="progress-bar" style="width:30%;">c/c++/java/android</div>
			</div>	
		</div>
	</div>
	</div>

</block>