{% extends "Public/base.html" %}

<block name="css">
  <style>
    .article-text{
      font-size:17px;
  
    }
  </style>
</block>
<block name="main">
      <h2>Archives:</h2>
      <!-- <ul>
        <li>
          <div class="col-xs-3">2017.Sep.18</div>
          <div class="col-xs-3">
            <a href="#">phpjiami 数种解密方法</a>
          </div>
        </li>
        <li></li>
        <li></li>
      </ul> -->
      <div class="col-xs-8 col-xs-offset-1">
        <volist name="list" id="listdata">
        <div class="row">
            <div class="col-xs-2"　>
              <span style="color:#34495e;" class="article-text">{$listdata.publish|date="Y-M-d",###}</span>
            </div>
            <div class="col-xs-6">
              <a style="color:#16a085;" href="/Home/view/{$listdata.id}" class="article-text">{$listdata.title}</a>
            </div>
        </div>
         </volist>
         <div class="row">

           <ul class="pagination">
              {$page}
           </ul>
         </div>
      </div>

    
</block>