<extend name="Public/base" />

<block name="main">
	<div class="container">
		<div class="row">
			<blockquote>
				友链:
			</blockquote>
		</div>
		<div class="row">
			<a href="http://www.sqlsec.com/"><span class="badge" style="font-size:15px;">国光师傅</span></a>
			<a href="http://www.bodkin.ren/"><span class="badge" style="font-size:15px;">老锥</span></a>
			<a href="http://www.snowood.cn/"><span class="badge" style="font-size:15px;">韩风</span></a>
			<a href="http://www.snowood.cn/"><span class="badge" style="font-size:15px;">韩风</span></a>
			<a href="http://jwrsec.cn/"><span class="badge" style="font-size:15px;">局外人</span></a>
			<a href="https://blog.ctftools.com/"><span class="badge" style="font-size:15px;">Dr3@m</span></a>
			<a href="http://www.creatapd.com/"><span class="badge" style="font-size:15px;">A.P.D's blog</span></a>
			<a href="http://bestwing.me/"><span class="badge" style="font-size:15px;">swing</span></a>
			<a href="http://www.ggsec.cn/"><span class="badge" style="font-size:15px;">Demon</span></a>
			<a href="http://www.lovei.org/"><span class="badge" style="font-size:15px;">腹黑</span></a>
			<a href="http://sec2hack.com/"><span class="badge" style="font-size:15px;">Wfox</span></a>
		</div>
	</div>

</block>